h1 {text-align: center;}
h3 {text-align: center;}
.centered {text-align: center;}
.picture_block {
	float:left;
	margin:25px;
	border: 0px solid black;
	width: 256px;
	height: 456px;
	}
.voice_block {
	float:left;
	margin:25px;
	border: 0px solid black;
	width: 256px;
	height: 356px;
	}
.personality_block {
	float:left;
	margin:25px;
	border: 0px solid black;
	width: 256px;
	height: 256px;
	}
.table {
	width: 256px;
	}
.cell {
	width: 25%;
	}
.name{
	text-align:left;
	}
.rarity{
	width: 25%;
	text-align: right;
	}
.image {
	width: 256px;
	height: 256px;
	}
.mp3 {width: 256px;}
.items_ottos_table {
		width: 100%;
		border: 1px solid black;
		border-spacing: 0;
		border-collapse: collapse;
		}
.items_ottos_table_row {
		margin: 10px;
		border: 1px solid black;
		heigth: 100px;
		}
.items_ottos_name_cell {width: 256px; border: 1px solid black;}
.items_ottos_type_cell {width: 100px; border: 1px solid black;}
.items_ottos_links_cell {border: 1px solid black;}
